.confirm-order {
    display: grid;
    grid-template-columns: 200px auto 235px;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
    grid-template-areas:
        "a b c"
        "d d d";
}

.grid-confirm-order-img {
    grid-area: a;
}

.grid-confirm-order-info-img {
    grid-area: b;
    padding-top: 50px;
}

.grid-confirm-order-information {
    grid-area: c;
}

.grid-confirm-order-form {
    grid-area: d;
}

.confirmation-page-h2 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}

.confirmation-page-title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.confirm-order-label {
    font-size: 13px;
    color: #707070;
}

.confirm-order-info-img-product {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.confirm-order input[type='checkbox'] {
    width: auto;
}

.confirm-order-img {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    background-color: #f1ede7;
    border-radius: 8px;
}

.confirm-order-img img {
    transform: scale(0.13);
    margin: -1020px 0px 0px -996px;
}

.grid-confirm-order-invoice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
}

.grid-invoice-result {
    text-align: right;
}

.invoice-text {
    font-size: 16px;
    color: #707070;
    padding: 6px 0;
}

.invoice-result {
    font-size: 16px;
    color: #333;
    padding: 6px 0;
}

.invoice-text-total {
    font-size: 16px;
    color: #707070;
    padding: 6px 0;
}

.invoice-result-total {
    font-size: 21px;
    font-weight: 600;
    color: #333;
    padding: 6px 0;
}

.confirm-order-buy {
    background-color: #fb771a;
    color: #fff;
    width: 100%;
    max-width: 160px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    height: 54px;
}



/**** Thank you page****/

.thanks-title {
    margin-bottom: 100px;
}

.thanks-title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.thanks-title-h2 {
    color: #333;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

.thanks-title-p {
    color: #bbb;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
}

.thanks-page-title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #fb771a;
}

.grid-thanks-page-person {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 100px;
}

.grid-thanks-page-purchase {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 20px;
    margin: 0 auto;
    padding-bottom: 100px;
    grid-template-areas:
        "a b";
    width: 100%;
}

.grid-thanks-information {
    grid-area: b;
}

.flex-thanks-page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b";
}

.thanks-page-width {
    max-width: 300px;
}

@media screen and (max-width: 730px) {
    .confirm-order {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-areas:
            "a b"
            "c c"
            "d d";
    }

    .confirmation-page-title {
        padding-top: 40px;
    }

    .container-adress {
        margin-top: 40px;
    }

    .grid-confirm-order-invoice {
        max-width: 260px;
        margin: 0;
    }

    .flex-thanks-page {
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b";
        padding-bottom: 100px;
    }

    .grid-thanks-page-person {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 490px) {
    .grid-thanks-page-purchase {
        grid-template-columns: auto;
        grid-template-areas: "a" "b";
    }

    .grid-confirm-order-info-img {
        padding-top: 5px;
    }

    .thanks-title-h2 {
        font-size: 21px;
    }
    
    .thanks-title-p {
        font-size: 16px;
    }
}

@media screen and (max-width: 420px) {
    .confirm-order {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d";
    }

    .grid-confirm-order-info-img {
        padding-top: 0px;
    }

    .grid-confirm-order-invoice {
        grid-template-columns: 2fr 1fr;
        grid-gap: 0;
    }
}