.order-form-margin {
    margin: 60px 0px;
}

/* Profile */

.profile {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
}

/*.profile div.profileForm {
    width: 85%;
}*/

.profile .profileForm h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.profile .profileForm form div.formEntry {
    /*display: flex;*/
    flex-direction: column;
    margin-bottom: 30px;
}

.profile .profileForm form .formEntry label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 500;
}

.profileGroup {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 50%);
}

.profile .profileForm .formEntry input {
    border: none !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    height: 54px;
    background: #fff;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    outline: none;
    font-size: 16px;
}

/* Adress */

.address {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
}

.adress-group {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 50%);
}

.address .form h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.address .form .adress-group .formEntry {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.address .form .adress-group .formEntry.together {
    display: flex;
    flex-direction: column;
}

.address .form .adress-group .formEntry.together .phoneInput {
    display: flex;
    flex-direction: row;
}

.address .form .adress-group .formEntry.together .phoneInput select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.address .form .adress-group .formEntry.together .phoneInput input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
    width: 100%;
}

.address .form .adress-group .formEntry label,
.formEntry.together label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 500;
}

.address .form .adress-group .formEntry input,
.formEntry select {
    border: none !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    height: 54px;
    background: #fff;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    outline: none;
    font-size: 16px;
}

.country-phone-width {
    width: 80px !important;
}

.address .form .adress-group .formEntryCheckbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.address .form .adress-group .formEntryCheckbox label {
    cursor: pointer;
}

.address .form .adress-group .formEntryCheckbox input {
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.address div.info {
    background-color: rgb(223, 222, 222);
    border: 1px solid rgba(0, 0, 0, 0.243);
    padding: 10px 20px;
    height: fit-content;
}

.address .info p span {
    font-weight: bold;
}

.address .info p.hurryUp {
    margin-top: 20px;
}

.error {
    display: inline-block;
    color: red;
    font-weight: bold;
    text-align: left;
    margin-top: 8px;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 500;
}

/*** checkbox adress***/
.container-adress {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-adress input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 4px;
}

.container-adress input:checked~.checkmark {
    background-color: #fb771a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-adress input:checked~.checkmark:after {
    display: block;
}

.container-adress .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Shipping */

.shipping {
    margin: 0 auto;
    padding: 20px;
}

.ship-title {
    font-size: 28px;
    margin-bottom: 40px;
}

.ship-type {
    display: flex;
    flex-direction: column;
}

.ship-type .form-entry {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.ship-type h3 {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 600;
}

.ship-type input[type="radio"] {
    margin-right: 8px;
    cursor: pointer;
}

.ship-type label {
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}

.ship-type label span {
    font-weight: bold;
}

.ship-date {
    display: none;
    flex-direction: column;
}

.ship-date h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ship-date .estimate-date {
    font-size: 16px;
    margin: 5px 0;
    padding-left: 0;
}

.ship-date .delivery-date {
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-left: 0;
}

.ship-gift {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}

.ship-gift input[type="checkbox"] {
    margin-right: 8px;
}

.ship-gift label {
    font-size: 0.8em;
    font-weight: lighter;
}

.ship-gift-options {
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

.ship-gift-options label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 500;
}

.ship-gift-options textarea,
#giftTitle {
    border: none !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    height: 54px;
    background: #fff;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    outline: none;
    font-size: 16px;
    margin-bottom: 30px;
}

.ship-gift-options span.error {
    font-size: 16px;
    margin: 0 0 30px 0;
}

#giftImageFile-button {
    padding: 10px;
    color: white;
    background-color: #fb771a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 200px;
}

#giftImageFile-button:hover {
    background-color: #d16416;
}

#custom-text {
    color: #aaa;
    font-size: 14px;
    margin: 5px 0;
}


.visible {
    display: flex;
    margin-bottom: 30px;
}

.visible-date {
    display: inline-block;
    margin-bottom: 30px;
    background-color: #d9ebd7;
    padding: 15px;
    border-radius: 4px;
}

/* shipping radio buttons */
.container-shipping {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-shipping input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-shipping {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
}

.container-shipping input:checked~.checkmark-shipping {
    background-color: #fb771a;
}

.checkmark-shipping:after {
    content: "";
    position: absolute;
    display: none;
}

.container-shipping input:checked~.checkmark-shipping:after {
    display: block;
}

.container-shipping .checkmark-shipping:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

/* thanks page */

.thanks-page {
    margin: 0 auto;
    padding: 20px;
}

/*
@media screen and (max-width: 1300px) {
    .address {
        flex-direction: column-reverse;
        align-items: center;
        text-align: left;
    }

    .address .form .adress-group .formEntry,
    .formEntryCheckbox {
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }

    .address .form .adress-group .formEntryCheckbox label {
        flex-grow: 1;
    }

    .address div.info {
        text-align: left;
        max-width: 170px;
        min-width: 170px;
        margin-bottom: 40px;
    }
}
*/

@media screen and (max-width: 680px) {
    .address {
        grid-template-columns: auto;
    }

    .adress-group {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 540px) {
    .profileGroup {
        grid-template-columns: auto;
    }
}